{% extends 'base.html' %}

{% block title %}
    Гарри Поттер
{% endblock %}

{% block content %}


    <div class="card" style="width: 20rem;">
        <img src="../static/image/image.jpg" class="card-img-top" alt="Гарри Поттер">
        <div class="card-body">
            <h5 class="card-title">Гарри Поттер</h5>
            <p class="card-text">литературный персонаж, главный герой серии романов английской писательницы Джоан Роулинг.
           На одиннадцатый день рождения Гарри узнаёт, что является волшебником, и ему уготовано
           место в школе волшебства «Хогвартс», в которой он будет практиковать магию под руководством
           директора Альбуса Дамблдора и других школьных профессоров.</p>
            <a href="#" class="btn btn-outline-success">{{link}}</a>
        </div>
    </div>

{% endblock %}