{% extends 'base.html' %}

{% block title %}
    фильмы про Гарри Поттера
{% endblock %}

{% block content %}

    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-6 col-lg-4 col-xxl-2">
                <div class="card" style="width: 15rem;">
                  <img src="../static/image/Bruce.webp" class="card-img-top" alt="...">
                  <div class="card-body">
                    <h5 class="card-title">Брюс Уиллис</h5>
                    <p class="card-text">Небольшой пример текста, который должен основываться на названии карточки и составлять основную часть содержимого карты.</p>
                    <a href="#" class="btn btn-primary">Перейти куда-нибудь</a>
                  </div>
                </div>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-4 col-xxl-2">
                <div class="card" style="width: 15rem;">
                  <img src="../static/image/scarlett.webp" class="card-img-top" alt="...">
                  <div class="card-body">
                    <h5 class="card-title">Скарлетт Йохансен</h5>
                    <p class="card-text">Небольшой пример текста, который должен основываться на названии карточки и составлять основную часть содержимого карты.</p>
                    <a href="#" class="btn btn-primary">Перейти куда-нибудь</a>
                  </div>
                </div>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-4 col-xxl-2">
                <div class="card" style="width: 15rem;">
                  <img src="../static/image/sly.webp" class="card-img-top" alt="...">
                  <div class="card-body">
                    <h5 class="card-title">Сильвестр Сталлоне</h5>
                    <p class="card-text">Небольшой пример текста, который должен основываться на названии карточки и составлять основную часть содержимого карты.</p>
                    <a href="#" class="btn btn-primary">Перейти куда-нибудь</a>
                  </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
