<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home work</title>
    <link rel="stylesheet" href="../static/css/style_hw.css">
</head>
<body>

    <ul class="nav nav-pills nav-fill">
      <li class="nav-item">
        <a class="nav-link active" aria-current="page" href="#">Активная</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">На много длиннее ссылка</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Ссылка</a>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled">Отключенная</a>
      </li>
    </ul>

<div class="container">
    <div class="card">
        <div class="photo">
            <img src="../static/image/Bruce.webp">
        </div>
        <div class="info">
            <table>
                <tr>
                    <td class="first">ФИО: </td>
                    <td>Bruce Willis</td>
                </tr>
                <tr>
                    <td class="first">E-mail: </td>
                    <td>bruce_willis@yahoo.com</td>
                </tr>
                <tr>
                    <td class="first">Дата рождения: </td>
                    <td>19.03.1955</td>
                </tr>
                <tr>
                    <td class="first">Город: </td>
                    <td>Айдахо, США</td>
                </tr>
            </table>
        </div>
    </div>

    <div class="card">
        <div class="photo">
            <img src="../static/image/sly.webp">
        </div>
        <div class="info">
            <table>
                <tr>
                    <td class="first">ФИО: </td>
                    <td>Sylvester Stallone</td>
                </tr>
                <tr>
                    <td class="first">E-mail: </td>
                    <td>sly@yahoo.com</td>
                </tr>
                <tr>
                    <td class="first">Дата рождения: </td>
                    <td>06.07.1946</td>
                </tr>
                <tr>
                    <td class="first">Город: </td>
                    <td>LA, США</td>
                </tr>
            </table>
        </div>
    </div>

    <div class="card">
        <div class="photo">
            <img src="../static/image/scarlett.webp">
        </div>
        <div class="info">
            <table>
                <tr>
                    <td class="first">ФИО: </td>
                    <td>Scarlett Johansson</td>
                </tr>
                <tr>
                    <td class="first">E-mail: </td>
                    <td>scarlett@yahoo.com</td>
                </tr>
                <tr>
                    <td class="first">Дата рождения: </td>
                    <td>22.11.1984</td>
                </tr>
                <tr>
                    <td class="first">Город: </td>
                    <td>NY, США</td>
                </tr>
            </table>
        </div>
    </div>
</div>

</body>
</html>