{% extends 'main/layout.html' %}

{% block title %}
    <title>Первая страница на Django</title>
{% endblock %}

{% block content %}
    <H1>Добро пожаловать на сайт!</H1>
<ul>
    <li>Главная страница с кратким описанием компании и предлагаемых услуг</li>
    <li>Каталог товаров с фильтрами по типу плитки, цвету, размеру и другим характеристикам</li>
    <li>Страница отдельного товара с подробным описанием, изображениями и возможностью добавления в корзину</li>
    <li>Корзина покупок, где пользователь может управлять товарами и оформить заказ</li>
    <li>Страница контактов с формой обратной связи и контактными данными компании</li>
</ul>

{% endblock %}
