{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'main/css/main.css' %}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

    {% block title %}
    <title>Plitkanadom.ru - Django</title>
    {% endblock %}
</head>
<body>
    <div class="row">
        <aside class="col-lg-3 bg-light p-4">
            <img src="{% static 'main/img/logotype.svg' %}" alt="лого www.plitkanadom.ru" class="img-fluid">
            <h1 class="text-center">PlitkaDjango</h1>
            <ul class="nav flex-column">
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'home' %}">Главная</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'page2' %}">Второстепенная</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'news_home' %}">Новости</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'goods' %}">Товары</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'services' %}">Услуги</a>
                </li>
            </ul>
        </aside>

        <main class="col-lg-9">
            {% block content %}

            {% endblock %}
        </main>
    </div>

    {% include 'main/footer.html' %}

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>